body{
    background-image: url('https://pin.it/1vL64Hm7F');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
}.ele
{
    margin-top: 100px;
    color: white;
    height: 300px;
    
}
.heading{
    margin-bottom: 60px;
}