body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/066/678/non_2x/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
}.ele
{
    margin-top: 100px;
    color: white;
    height: 300px;
    
}
.heading{
    margin-bottom: 60px;
}